<section>
      <div class="bg-login">
          <form class="form-signin1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <h1 class="mb-3" style="padding-top: 100px;color: white;"><img  style="width: 250px;padding-top: 25px;" src="assets/css/images/tally.png" class="image logo"></h1> -->
              <!-- <h1 class="h3 mb-3 font-weight-normal" style="padding-right: 50px;"><img  style="width: 250px;padding-top: 25px;" src="assets/css/images/iTAP-logo.png" class="image logo"></h1> -->
              <h1 class="h3 mb-3" style="padding-top: 140px;padding-right: -22px;text-align: center;"><img style="height: 40px;margin-right: -30px;" src="assets/css/images/iTAP-logo2.png"></h1>
              <!-- <h3 class="mb-3" style="padding-top: 150px;color: white;font-family: 'Cedarville Cursive'" >OPERATION APP</h3> -->
              <h4 class="mb-2" style="color: white;font-family: 'Cedarville Cursive'">OPERATION APP</h4>
              <h3 class="subtitle1" style="color: white;">Westport Sdn Bhd</h3>
              <p *ngIf="errorMsgShow" style="color: red;font-size: 12px;">Please enter username and password</p>
              <!-- <h3 class="subtitle1" style="color: white;">Kuantan Port Consortium Sdn Bhd</h3> -->
              <div class="loginbox">
                  <!-- <div class="mb-4">
                      <input style="font-family:Open sans-serif" type="text" class="form-control custom-form" [(ngModel)]="username" placeholder="Username" formControlName="username" autofill="false" [ngClass]="{ 'is-invalid': loginForm.controls['username'].touched && loginForm.controls['username'].invalid }">
                      <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid" class="alert">
                          <div *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors['required']">is required.</div>
                      </div>
                  </div> -->


                  <div class="mb-4">
                    <input style="font-family:Open sans-serif" type="text" class="form-control custom-form mainLoginInput" [(ngModel)]="username" placeholder="&#61447;  Username" formControlName="username" autofill="false" [ngClass]="{ 'is-invalid': loginForm.controls['username'].touched && loginForm.controls['username'].invalid }">
                    <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid" class="alert">
                        <div *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors['required']">is required.</div>
                    </div>
                </div>

                  <!-- <div class="mb-4">
                      <input style="font-family:Open sans-serif" type="password" class="form-control custom-form" placeholder="Password" formControlName="password" autofill="false" [ngClass]="{ 'is-invalid': loginForm.controls['password'].touched && loginForm.controls['password'].invalid }">
                      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="alert">
                          <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">is required.</div>
                      </div>
                  </div> -->

                 <div class="mb-4">
                    <div class="password-container">
                        <input style="font-family:Open sans-serif" [type]="hide ? 'password' : 'text'" class="form-control custom-form mainLoginInput" placeholder="&#61475;  Password" formControlName="password" autofill="false" [ngClass]="{ 'is-invalid': loginForm.controls['password'].touched && loginForm.controls['password'].invalid }">
                        <i [ngClass]="hide ? 'fa fa-eye-slash' : 'fa fa-solid fa-eye'" id="eye" (click)="showPassword()"></i>
                    </div>
                    <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="alert">
                        <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">is required.</div>
                    </div>
                  </div>



                  <div style="text-align: center;">
                      <button type="submit" class="btn btn-primary custom-btn" style="width: 100%;" (click)="onSubmit()">Log In</button>
                  </div>

                  <!-- <div>
                    <br>
                    <h4 style="font-size: 12px;color: white;">Version 1.0</h4>
                  </div> -->

                  <div style="text-align: right;">
                    <h4 class="pt-2" style="font-size: 12px;color: white;">Version 1.0</h4>
                  </div>

              </div>
              <!-- <p class="mt-1 text-white small copyright" style="text-align: center;">© Copyright Privaports Sdn Bhd. All Rights Reserved.</p> -->
          </form>
      </div>
</section>