
<section>
    <div class="bg-login custom-bg" style="overflow: auto;">
        <form class="form-signin1" [formGroup]="importForm">
            <h1 class="mb-3"></h1>
            <div class="loginbox">
               <!-- <h2 class="table-f-color">TALLY APP</h2>
                 <div class="row" style="justify-content: right;padding-right: 1rem !important;">
                    <a class="hand back-color" routerLinkActive="active" routerLink="/logout"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div> -->
                
                <!-- <h3 class=" custom-title" style="font-family: 'Cedarville Cursive'">TALLY APP</h3> -->

                <div *ngIf="btn=='TS'" style="margin-bottom: -8px;display: flex;align-items: center; justify-content: space-between; ">
                    <i style="color: #5126ec;margin-bottom: 4px;" routerLinkActive="active" routerLink="/selectOption" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                    <div style="text-align: center;">
                        <h4  class="custom-title" style="justify-content: center;font-family: 'Cedarville Cursive'">TALLY SHEET</h4>
                    </div>
                    <div></div>
                </div>
                <div *ngIf="mode=='edit'&& btn=='TS'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">Tally No : {{tallyNo}}</div>

                <div *ngIf="btn=='CR'" style="margin-bottom: -8px;display: flex;align-items: center; justify-content: space-between;">
                    <i style="color: #5126ec;margin-bottom: 4px;" routerLinkActive="active" routerLink="/selectOption" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                    <div style="text-align: center;"> 
                        <h4 class="custom-title" style="justify-content: center;font-family: 'Cedarville Cursive'">CARGO RECEIVER</h4>
                    </div>
                    <div></div>
                </div>
                <div *ngIf="mode=='edit'&& btn=='CR'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">DO No : {{DONo}}</div>

                <div *ngIf="btn=='TN'" style="margin-bottom: -8px;display: flex;align-items: center; justify-content: space-between;">
                    <i style="color: #5126ec;margin-bottom: 4px;" routerLinkActive="active" routerLink="/selectOption" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                    <div style="text-align: center;"> 
                        <h4 class="custom-title" style="justify-content: center;font-family: 'Cedarville Cursive'">TRANSFER NOTE</h4>
                    </div>
                    <div></div>
                </div>
                <div *ngIf="mode=='edit'&& btn=='TN'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">TN No : {{TNNo}}</div>

              <!-- <div style="text-align: center;">
                <span *ngIf="mode=='edit'&& btn=='TS'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">Tally No : {{tallyNo}}</span>
                <span *ngIf="mode=='edit'&& btn=='CR'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">DO No : {{DONo}}</span>
                <span *ngIf="mode=='edit'&& btn=='TN'" style="font-weight: 400;background-color: #5126ec;" class="badge badge-pill badge-secondary">TN No : {{TNNo}}</span>
            </div> -->
                <!-- <div class="row" style="justify-content: right;padding-right: 1rem !important;margin-top: -35px;">
                    <img  style="width: 22px;height: 22px;" routerLinkActive="active" routerLink="/logout" src="assets/css/images/logout3-removebg.png" class="image logo">
                </div> -->

                <div class="row pt-4 pb-2">
                    <div class="col">
                                <div class="row mb-2">
                                    <!-- [ngClass]="(btn=='TS'||btn=='TN') ?'col-6':'col-12'" -->
                                    <div class="col-6" >
                                        <label class="label-style required table-f-color">SCN</label>
                                        <select class="form-control custom-form" [(ngModel)]="scn" (change)="scnChanged(scn)" name="scn" formControlName="scn" [disabled]="endTimeExist" [ngClass]="{ 'is-invalid': importForm.controls['scn'].touched && importForm.controls['scn'].invalid }">
                                            <option value=null>Select SCN</option>
                                            <option value="22OCFF">22OCFF</option>
                                            <option value="22NCEP">22NCEP</option>
                                            <option value="22NCKQ">22NCKQ</option>
                                            <option value="22NCAF">22NCAF</option>
                                            <option value="22OBHG">22OBHG</option>
                                        </select>
                                        <div *ngIf="importForm.controls['scn'].touched && importForm.controls['scn'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['scn'].errors && importForm.controls['scn'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                    <div *ngIf="btn=='TS'" class="col-6">
                                        <label class="label-style table-f-color">Import/Export</label>
                                        <!-- <select class="form-control custom-form" [(ngModel)]="document" [disabled]="endTimeExist" (change)="importChanged(document)" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select</option>
                                            <option *ngFor="let row of blList" [ngValue]="row.val" >{{row?.val}}</option>
                                        </select> -->
                                        <select class="form-control custom-form" [(ngModel)]="document" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select</option>
                                            <option value="import">Import</option>
                                            <option value="export">Export</option>
                                        </select>
                                    </div>
                                    <div *ngIf="btn=='CR'" class="col-6">
                                        <label class="label-style required table-f-color">Lorry No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="lorryNo" [disabled]="endTimeExist" name="lorryNo" formControlName="lorryNo" placeholder="Lorry No" [ngClass]="{ 'is-invalid': importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid }">
                                        <div *ngIf="importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['lorryNo'].errors && importForm.controls['lorryNo'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                     <div *ngIf="btn=='TN'" class="col-6">
                                        <label class="label-style required table-f-color">Mode</label>
                                        <select class="form-control custom-form" [(ngModel)]="modeValue" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select Mode</option>
                                            <option value="EXPORT">EXPORT</option>
                                            <option value="RE-EXPORT/TRANSHIP">RE-EXPORT/TRANSHIP</option>
                                            <option value="RETURN TO SHIPPER">RETURN TO SHIPPER</option>
                                            <option value="CONTAINER-SHIP">CONTAINER-SHIP</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="row mb-2">
                                    <div *ngIf="btn=='TS'" class="col-6">
                                        <label class="label-style table-f-color">Berth No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="selectedData.berthNo" [ngModelOptions]="{standalone: true}" placeholder="Berth No" disabled>
                                    </div>
                                    <div *ngIf="btn=='TS'" class="col-6">
                                        <label class="label-style required table-f-color">Lorry No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="lorryNo" [disabled]="endTimeExist" name="lorryNo" formControlName="lorryNo" placeholder="Lorry No" [ngClass]="{ 'is-invalid': importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid }">
                                        <div *ngIf="importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['lorryNo'].errors && importForm.controls['lorryNo'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                    <div *ngIf="btn=='CR'||btn=='TN'" class="col-6">
                                        <label class="label-style  table-f-color">DO</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="DONo" [ngModelOptions]="{standalone: true}" placeholder="DO">
                                    </div>
                                    <div *ngIf="btn=='CR'||btn=='TN'" class="col-6">
                                        <label class="label-style table-f-color">WPE No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="selectedData.berthNo" [ngModelOptions]="{standalone: true}" placeholder="WPE No">
                                    </div>
                                </div>

                                <div *ngIf="btn=='TS'&&document=='export'" class="row mb-2">
                                    <div class="col-12">
                                        <label class="label-style table-f-color">TN No</label>
                                        <select class="form-control custom-form" [(ngModel)]="modeValue" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select TN No</option>
                                            <option value="TN016730">TN016730</option>
                                            <option value="TN016729">TN016729</option>
                                            <option value="TN016728">TN016728</option>
                                            <option value="TN016727">TN016727</option>
                                            <option value="TN016726">TN016726</option>
                                            <option value="TN016721">TN016721</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-6">
                                        <label *ngIf="document=='export'" class="label-style table-f-color">ISD No</label>
                                        <input *ngIf="document=='export'" type="text" class="form-control custom-form" [(ngModel)]="blNo" [ngModelOptions]="{standalone: true}" placeholder="ISD No" disabled>
                                    </div> -->
                                </div>

                                <div *ngIf="btn=='TS'&&document=='import'" class="row mb-2">
                                    <div class="col-12">
                                        <label class="label-style table-f-color">B/L No</label>
                                        <!-- <input type="text" class="form-control custom-form" [(ngModel)]="blNo" [ngModelOptions]="{standalone: true}" placeholder="B/L No" disabled> -->
                                        <select class="form-control custom-form" [(ngModel)]="blNo" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select B/L No</option>
                                            <option value="SC2300337I">SC2300337I</option>
                                            <option value="RM20223DUMPKL01">RM20223DUMPKL01</option>
                                            <option value="YS9002">YS9002</option>
                                            <option value="KKLUTH0918980">KKLUTH0918980</option>
                                            <option value="LCPKT8838T">LCPKT8838T</option>
                                            <option value="SC2300252I">SC2300252I</option>
                                            <option value="NYKS200007092">NYKS200007092</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label class="label-style table-f-color">Ship Name</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="selectedData.shipName" [ngModelOptions]="{standalone: true}" placeholder="Ship Name" disabled>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label class="label-style table-f-color">Cargo Name</label>
                                        <!-- <input type="text" class="form-control custom-form" [(ngModel)]="cargoName" [ngModelOptions]="{standalone: true}" placeholder="Cargo Name" disabled> -->
                                        <select class="form-control custom-form" [(ngModel)]="cargoName" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select Cargo Name</option>
                                            <option value="BOAT (RR)">BOAT (RR)</option>
                                            <option value="COIL (BB)">COIL (BB)</option>
                                            <option value="BEAM (BB)">BEAM (BB)</option>
                                            <option value="HELICOPTER (RR)">HELICOPTER (RR)</option>
                                            <option value="TRUCK(RR)">TRUCK(RR)</option>
                                            <option value="PIPES - BUNDLE (BB)">PIPES - BUNDLE (BB)</option>
                                        </select>
                                    </div>
                                </div>
                                <div  class="row mb-2">
                                    <div  class="col-6">
                                        <label class="label-style table-f-color">Total Quantity</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="totalQuantity" [disabled]=true [ngModelOptions]="{standalone: true}" placeholder="Total Quantity" >
                                    </div>
                                    <div *ngIf="endTimeExist" class="col-6">
                                        <label class="label-style table-f-color">Balance Quantity</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="balanceQuantity" [disabled]=true [ngModelOptions]="{standalone: true}"  placeholder="Balance Quantity" >
                                    </div>
                                </div>

                                <div *ngIf="btn=='TS'&&mode=='add'" class="row mb-2">
                                    <div class="col-6">
                                        <label class="label-style table-f-color">Start Time</label>
                                        <input type="time" class="form-control custom-form" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}" placeholder="Start Time" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label class="label-style table-f-color">End Time</label>
                                        <input type="time" class="form-control custom-form" [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}" placeholder="End Time" disabled>
                                    </div>
                                </div>

                                <div *ngIf="btn=='TS'&&mode=='edit'" class="row mb-2">
                                    <div class="col-6">
                                        <label class="label-style table-f-color">Start Time</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}" placeholder="Start Time" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label class="label-style table-f-color">End Time</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}" placeholder="End Time" disabled>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-6">
                                        <label class="label-style required table-f-color">Quantity</label>
                                        <input type="number" class="form-control custom-form" [(ngModel)]="quantity" [disabled]="endTimeExist" name="quantity" formControlName="quantity"  placeholder="Quantity" [ngClass]="{ 'is-invalid': importForm.controls['quantity'].touched && importForm.controls['quantity'].invalid }">
                                        <div *ngIf="importForm.controls['quantity'].touched && importForm.controls['quantity'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['quantity'].errors && importForm.controls['quantity'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label-style table-f-color">Pieces</label>
                                        <input type="number" class="form-control custom-form" [(ngModel)]="pieces" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}" placeholder="Pieces" >
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div *ngIf="btn=='TS'||btn=='TN'" class="col-6">
                                        <label class="label-style required table-f-color">Gross Weight</label>
                                        <input type="number" class="form-control custom-form" [(ngModel)]="weight" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}" placeholder="Gross Weight" >
                                    </div>
                                    <div *ngIf="btn=='TS'" class="col-6 mb-2">
                                        <label class="label-style required table-f-color">Hatch</label>
                                        <select class="form-control custom-form" [(ngModel)]="hatch" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}">
                                            <option value=null>Select Hatch</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                    <div *ngIf="btn=='TS'||btn=='CR'" class="col-6">
                                        <label class="label-style table-f-color">Handling Resources</label>
                                        <select class="form-control custom-form" [(ngModel)]="resources" [disabled]="endTimeExist" name="resources" formControlName="resources" [ngClass]="{ 'is-invalid': importForm.controls['resources'].touched && importForm.controls['resources'].invalid }">
                                            <option value=null>Select Handling Resources</option>
                                            <option value="CRANE">CRANE</option>
                                            <option value="FORKLIFT">FORKLIFT</option>
                                            <option value="OWN HANDLING">OWN HANDLING</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label class="label-style required table-f-color">Location</label>
                                        <select class="form-control custom-form" [(ngModel)]="location" [disabled]="endTimeExist" name="location" formControlName="location" [ngClass]="{ 'is-invalid': importForm.controls['location'].touched && importForm.controls['location'].invalid }">
                                            <option value=null>Select Location</option>
                                            <option value="FUEL BAY">FUEL BAY</option>
                                            <option value="OFFICE WAREHOUSE D">OFFICE WAREHOUSE D</option>
                                            <option value="CONTAINER WHARF">CONTAINER WHARF</option>
                                            <option value="DIRECT DELIVERY">DIRECT DELIVERY</option>
                                            <option value="YARD4">YARD4</option>
                                            <option value="YARD 4 - ZONE 1">YARD 4 - ZONE 1</option>
                                            <option value="YARD 4 - ZONE 2">YARD 4 - ZONE 2</option>
                                            <option value="YARD 5">YARD 5</option>
                                            <option value="YARD 5A">YARD 5A</option>
                                            <option value="YARD 5B">YARD 5B</option>
                                            <option value="YARD 9 - ZONE 1">YARD 9 - ZONE 1</option>
                                        </select>
                                        <div *ngIf="importForm.controls['location'].touched && importForm.controls['location'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['location'].errors && importForm.controls['location'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div *ngIf="btn=='TS'" class="col-6">
                                        <label class="label-style table-f-color">Container No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="containerNo" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}" placeholder="Container No" >
                                    </div>
                                    <div *ngIf="btn=='TN'" class="col-6">
                                        <label class="label-style required table-f-color">Lorry No</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="lorryNo" [disabled]="endTimeExist" name="lorryNo" formControlName="lorryNo" placeholder="Lorry No" [ngClass]="{ 'is-invalid': importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid }">
                                        <div *ngIf="importForm.controls['lorryNo'].touched && importForm.controls['lorryNo'].invalid" class="alert">
                                            <div *ngIf="importForm.controls['lorryNo'].errors && importForm.controls['lorryNo'].errors['required']">is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label class="label-style table-f-color">Remarks</label>
                                        <textarea name="remarks" class="form-control custom-form" [(ngModel)]="remarks" [disabled]="endTimeExist" [ngModelOptions]="{standalone: true}" rows="2" cols="50" placeholder="Remarks"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="mode=='edit'" class="row mb-2">
                                    <div  class="col-6">
                                        <label class="label-style table-f-color">Created Date</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="createdDate" [disabled]=true [ngModelOptions]="{standalone: true}" placeholder="Created Date" >
                                    </div>
                                    <div *ngIf="endTimeExist" class="col-6">
                                        <label class="label-style table-f-color">Modified Date</label>
                                        <input type="text" class="form-control custom-form" [(ngModel)]="modifiedDate" [disabled]=true [ngModelOptions]="{standalone: true}"  placeholder="Modified Date" >
                                    </div>
                                </div>
                               <!---------------------------------- buttons--------------------------------- -->
                                <!-- <div class="row mt-3" style="text-align: center;">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary" style="width: 100%;" routerLinkActive="active" routerLink="/wpApprove">Back</button>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="save()">Save</button>
                                    </div>
                                </div> -->

                                <div *ngIf="(mode=='add'&&btn=='TS')||((mode=='edit'&&btn=='TS'&&status=='completed'))||btn=='CR'||btn=='TN'" class="row mt-2 mb-5" style="justify-content: center;">
                                    <div class="col-12">
                                        <button *ngIf="mode=='add'" type="button" class="btn btn-primary custom-btn" style="width: 100%;" (click)="save('save')">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                        <button *ngIf="mode=='edit'" type="button" class="btn btn-primary custom-btn" style="width: 100%;" (click)="save('update')">Update <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>   

                                <div *ngIf="mode=='edit'&&btn=='TS'&&status=='pending'" class="row mt-2 mb-5" style="justify-content: center;">
                                    <div class="col-6">
                                        <button *ngIf="mode=='add'" type="button" class="btn btn-primary custom-btn" style="width: 100%;" (click)="save('save')">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                        <button *ngIf="mode=='edit'" type="button" class="btn btn-primary custom-btn" style="width: 100%;" (click)="save('update')">Update <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary custom-btn1" style="width: 100%;" (click)="end()">End <i class="fa fa-ban" aria-hidden="true"></i></button>
                                    </div>
                                </div>  


                                 <!-- <div class="row notShow" style="text-align: center;background-color: #f8f9fa;
                                    position: absolute;width: 100% !important;padding: 3px;">
                                    <div class="col-4">
                                        <button class="btn" style="color: #777;" routerLinkActive="active" routerLink="/wpApprove"><i class="fa fa-list fa-lg"></i></button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn"  routerLinkActive="active" routerLink="/wpImport"><i class="fa fa-plus fa-lg"></i></button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn" style="color: #777;" routerLinkActive="active" routerLink="/logout"><i class="fa fa-sign-out fa-lg"></i></button>
                                    </div>
                                </div>  -->

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!----------------------------------------------- delete Modal --------------------------------------------------------------->
   <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="margin-top:240px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #5126ec;font-weight: 600;">TALLY SHEET</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to save ?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn no-bk mauto d-flex align-items-center px-6" data-dismiss="modal" (click)="yes()">
            <img class="acc-dec-icon mr-3" src="../../../../assets/css/images/accepted.png" alt="">
            <p class="mb-0">Yes</p>
          </button>
          <button type="button" data-dismiss="modal" aria-label="Close" class="btn no-bk mauto d-flex align-items-center px-6">
            <img class="acc-dec-icon mr-3" src="../../../../assets/css/images/declined.png" alt="">
            <p class="mb-0">No</p>
        </button>
        </div>
      </div>
    </div>
  </div> -->






