

<section>
    <div class="bg-login">
        <form class="form-signin1">
            <h1 class="mb-3" style="padding-top: 200px;"></h1>
            <div class="loginbox">
                
                <!-- <div *ngIf="!loginShow" class="pt-4">
                    <h2>Do you want to logout</h2>
                    <div class="row pt-3" style="justify-content: center;">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="logout()">Log Out</button>
                        </div>
                    </div>
                </div> -->


                <!-- <div *ngIf="loginShow" class="pt-4"> -->
                    <div class="pt-4">
                    <h2>Logout successfully</h2>
                    <div class="row pt-3" style="justify-content: center;">
                        <!-- <a class="hand back-color" routerLinkActive="active" routerLink="/login">Login Again</a> -->
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary" style="width: 100%;" routerLinkActive="active" routerLink="/login">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
