
<!-- <section>
    <div class="bg-login slider-profile">
        <form class="form-signin1">
            <h1 class="mb-3" style="padding-top: 200px;"></h1>
            <div class="loginbox">
                    <div class="pt-4">
                    <h3>Logout successfully</h3>
                    <div class="row pt-3" style="justify-content: center;">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary" style="width: 100%;" routerLinkActive="active" routerLink="/login">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->



<section>
    <div class="bg-login">
        <form class="form-signin1">
            <h1 class="mb-3" style="padding-top: 200px;"></h1>
            <div class="loginbox">
                <h3 class="f-white mb-4">Logout successfully</h3>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary custom-btn" style="width: 100%;" routerLinkActive="active" routerLink="/login">Log In</button>
                </div>
            </div>
        </form>
    </div>
</section>
