<form (ngSubmit)="onSubmit()">
    <div class="pt-2 pr-3 mb-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: #5126ec;font-weight: 600;">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
    <div class="modal-body">
      <div class="container text-center">
        <!-- <img class="confirm-icon my-3" src="../../../../assets/css/images/delete_icon.png" alt=""> -->
        <p>Are you sure?</p>
      </div>
    </div>
    <div class="modal-footer" style="display: block">
      <div class="row p-0">
        <div class="col-6 text-center">
          <button type="submit" class="btn no-bk mauto d-flex align-items-center px-6">
            <img class="acc-dec-icon mr-3" src="../../../../assets/css/images/accepted.png" alt="">
            <p class="mb-0">Yes</p>
          </button>
        </div>
        <div class="col-6 text-center">
          <button type="button" (click)="modalRef.hide()" class="btn no-bk mauto d-flex align-items-center px-6">
              <img class="acc-dec-icon mr-3" src="../../../../assets/css/images/declined.png" alt="">
              <p class="mb-0">No</p>
          </button>
        </div>
      </div>
    </div>
  </form>


  
  