
<section>
    <div class="bg-login custom-bg" style="overflow: auto;">
        <form class="form-signin1">
            <h1 class="mb-3"></h1>
            <div class="loginbox">
                <h3 class=" custom-title" style="font-family: 'Cedarville Cursive';padding-top: 150px;">TALLY APP</h3>
                <div class="row pt-4 pb-2">
                    <div class="col">
                        <!---------------------------------- buttons--------------------------------- -->
                        <div class="row mt-2 mb-5" style="justify-content: center;">
                            <div class="col-12 mb-3">
                                <button type="button" class="btn btn-primary custom-btn" (click)="btnClick('TS')" style="width: 100%;">Tally Sheet</button>
                            </div>
                            <div class="col-12 mb-3">
                                <button type="button" class="btn btn-primary custom-btn" (click)="btnClick('CR')" style="width: 100%;">Cargo Receiver</button>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary custom-btn" (click)="btnClick('TN')" style="width: 100%;">Transfer Note</button>
                            </div>
                        </div>   

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>







