<div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="notShow bgcolor footer-menu ">
        <div class="d-flex justify-content-around footer-icons">
            <!-- <a class="btn1" (click)="listView()"><i class="fa fa-list fa-lg"></i></a> -->
            <button class="btn btn1" id="list"><i (click)="listView()" class="fa fa-list fa-lg"></i></button>
            <!-- <button class="btn btn1" routerLinkActive="active" routerLink="/core/wpApprove"><i class="fa fa-list fa-lg"></i></button> -->
       
            <!-- <a class="btn1" routerLinkActive="active" routerLink="/core/wpImport"><i class="fa fa-plus fa-lg"></i></a> -->
            <button class="btn btn1" id="add"><i (click)="addView()" class="fa fa-plus fa-lg"></i></button>
            <!-- <button class="btn btn1" routerLinkActive="active" routerLink="/core/wpImport"><i class="fa fa-plus fa-lg"></i></button> -->
        
            <button class="btn btn1"><i routerLinkActive="active" routerLink="/logout" class="fa fa-sign-out fa-lg"></i></button>
        </div>
    </div> 
</div>
